/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#googleMap {
    top: 50px; /*atmetam headeri*/
    bottom: 0;
    display: table-row;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

#collapseOne {
    position: absolute;
    z-index: 999;
    width: 100%;
    top: 50px;
    background-color: rgb(51,51,51);
    background-image: linear-gradient(to bottom, #3c3c3c 0px, #222 100%);
    background-repeat: repeat-x;
}

#collapseOne label
{
    color: #fff;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}









